.footer {
  background-color: #999;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* border-top: 1px solid #dee2e6 !important; */
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}