.sticky{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.header-btn {
  display: flex;
}

.multi{
border-radius: 0.25rem;
margin-right: 1rem;
height: 39px;
background-color: rgb(255, 217, 160);
color: white;
border-bottom: solid 3px rgb(211, 179, 131);
}

@media (max-width: 400px) {
  .multi {
    margin-bottom: 10px;
  }
}


.multi-btn{
display: block;
padding: 0.5rem 1rem;
color: rgba(59, 58, 58, 0.753);
text-decoration: none;
transition: color 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out;
}
  
.multi-btn:hover{
color: white;
background-color: rgb(253, 205, 132);
border-bottom: none;
border-right: none;
}