.intro-first {
  height: 600px;
  background-color: #fff7e3;
  background-image: url(tankozo_intro.png);
}

.intro-name {
  font-size: 13rem;
  color: white;
  padding-top: 7%;
  padding-left: 5%;
  text-shadow: 1px 2px 3px #808080;
}

.bgcl {
  background-color: rgba(173, 171, 171, 0.3);
  color: rgb(85, 84, 84);
  /* text-shadow: 1px 1px 1px #e6e4e4; */
  padding: 15px 0;
}

.intro-text {
  font-size: 1rem;
  padding-left: 40%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.intro-likes {
  font-size: 10rem;
  height: 400px;
  background-color: #ffffff;
  padding-left: 5%;
}

.intro-likes-title {
  color: rgb(90, 90, 90);
  text-shadow: 1px 2px 3px #808080;
}

.intro-second {
  padding-top: 8%;
  height: 600px;
  background-color: #e7e6e6;
}

.intro-tongue {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.3rem;
  padding: 5px auto;
  text-align: center;
  position: relative;
  width: 550px;
  margin: 0 auto;
  line-height: 3;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.intro-tongue:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top-color: #fff;
}

.tongue-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

@media (max-width: 1000px) {
  .intro-first {
    height: 400px;
  }

  .intro-name {
    font-size: 8rem;
    padding-top: 5%;
    padding-left: 30px;
  }
  
  .intro-text {
    padding-left: 15%;
  }
  
  .intro-likes {
    height: 250px;
  }
  
  .intro-likes-title {
    font-size: 5rem;
    padding-left: 30px;
  }
  
  .intro-second {
    padding-top: 4%;
    height: 400px;
  }
  
  .intro-tongue {
    font-size: 1.1rem;
    width: 500px;
  }

  .tankozo-intro-img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 500px) {
  .br-sp {
    display: none;
  }
}

@media (max-width: 600px) {
  .intro-first {
    height: 240px;
    background-size: 125%;
    /* background-size: 30%; */
  }

  .intro-name {
    font-size: 5rem;
    padding-top: 0.5%;
    padding-left: 15px;
    margin-bottom: 0;
  }
  
  .intro-text {
    font-size: 0.6rem;
    padding-left: 15px;
  }
  
  .intro-likes {
    height: 220px;
  }
  
  .intro-likes-title {
    font-size: 3rem;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  
  .intro-second {
    padding-top: 4%;
    height: 200px;
  }
  
  .intro-tongue {
    font-size: 0.7rem;
    width: 310px;
  }
    
  .tankozo-intro-img {
    width: 100px;
    height: 100px;
  }
}