.new {
  margin-bottom: 10px;
}

.select-box-r {
  padding-left: 10px;
  color: #212529;
  width: 100%;
  height: 50px;
  border-color: #ced4da;
}

.click-upload {
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.opinion {
  padding-bottom: 200px;
}

.form-image{
  text-align: left;
}

.re-submit {
  width: 100%;
  height: 50px;
  margin: 10px auto 20px;
  border-radius: 0.25rem;
  color: #fff;
  border: 0;
  font-size: 18px;
}

.sub-new {
  background-color: #FFE3E3;
}

.sub-new:hover {
  background-color: #ffb8d6;
}

.sub-edit {
  background-color: #DFF0FF;
}

.sub-edit:hover {
  background-color: #afd9fd;
}