.separate {
  display: flex;
}

.separate-left {
  width: 30vw;
}

.search-title {
  padding-top: 20px;
  margin-bottom: 10px;
  width: 82%;
}

.search-titlefont {
  padding: 0.4em 0.5em;
  color: rgb(141, 140, 140);
  background: #f4f4f4;
  border-left: solid 5px rgb(241, 201, 139);
  border-bottom: solid 3px #d7d7d7;
  margin-left: 5vw;
}

.search-check{
  display:block;
}

.search-submit {
  background-color: rgb(241, 201, 139);
  border-bottom: solid 3px rgb(211, 179, 131);
}

.search-submit:hover {
  background-color: rgb(233, 183, 108);
  border-bottom: none;
}

.separate-right {
  width: 70vw;
  padding: 0 2em 0 1.5em;
}

.search-zero{
  text-align: center;
}

.search-zeroin {
  margin-top: 20px;
	text-align:center;
}