.show-main {
  text-align: center;
  position: relative;
  height: 850px;
}

.showcontent {
  justify-content: center;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.show-line-btn{
  display: flex;
  justify-content: right;
  margin: 20px 0;
  width: 500px;
  text-decoration: none;
}

.show-edit {
  text-decoration: none;
  color: peachpuff;
}

.show-delete {
  margin: 0 10px;
  text-decoration: none;
  color: peachpuff;
}

.show-name {
  margin-top: 30px;
}

.show-r {
  margin-top: 15px;
}

.show-line {
  display: flex;
  justify-content: center;
}

.show-station, .show-food, .user-taste {
  margin-left: 10px;
}

.opinions {
  text-align: center;
  width: 500px;
  margin: 15px auto 0;
}

.show-line-author {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  font-size: 16px;
}

.user-name{
  text-decoration: none;
  color: peachpuff;
}

.user-taste {
  margin: 0 0 0 15px;
}

.show-sub {
  text-align: center;
}

.comment-container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.comment-in {
  width: 500px;
  margin: 15px auto 0;
}

.comment-form {
  width: 500px;
  padding-top: 5px;
  padding-left: 5px;
  margin: 20px auto 0;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.comment-submit {
  width: 500px;
  margin: 10px auto 20px;
  background-color: peachpuff;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

.comments {
  padding: 25px 0;
}

.comments-texts {
  text-align: left;
  margin: 0 10px;
}

.comment-text {
  margin-bottom: 10px;
}

.comment-nickname {
  text-decoration: none;
  color: peachpuff;
}

.comment-time {
  font-size: 4px;
}