.show-main {
  text-align: center;
  position: relative;
  height: 940px;
}

.showcontent {
  justify-content: center;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.show-img {
  margin-top: 20px;
}

@media (max-width: 500px) {
  .show-main {
    height: 840px;
  }
  .showcontent {
    width: 100%;
  }
  .show_img_one {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 400px) {
  .show-main {
    height: 760px;
  }
}

.show-line-btn{
  display: flex;
  justify-content: right;
  margin: 15px 0;
  width: 100%;
  text-decoration: none;
}

.showmain-likestotal {
  margin-right: 15px;
}

.show-edit {
  text-decoration: none;
  color: peachpuff;
}

.show-edit:hover {
  color: rgb(250, 135, 34);
}

.show-delete {
  margin: 0 10px;
  text-decoration: none;
  color: peachpuff;
}

.show-delete:hover {
  color: rgb(250, 135, 34);
}

.show-form {
  text-decoration: none;
}

.show-hope {
  color: #ffbf84;
}

.hope-btn {
  color: #ffbf84;
}

.unhope-btn {
  color: lightgray;
}

.fa-running {
  margin: 0 10px;
  width: 25px;
  height: 30px;
  font-size: 25px;
}

.show-like {
  margin: 0 10px;
  text-decoration: none;
  color: #ffbcf9;
}

.like-btn {
  color: #ffbcf9;
}

.unlike-btn {
  color: lightgray;
}

.fa-heart {
  margin: 0 10px;

  width: 25px;
  height: 30px;
  font-size: 25px;
}

.show-name {
  margin-top: 30px;
}

.show-r {
  margin-top: 15px;
}

.show-line {
  display: flex;
  justify-content: center;
}

.show-station, .show-food, .user-taste {
  margin-left: 10px;
}

.opinions {
  text-align: center;
  width: 100%;
  margin: 15px auto 0;
  max-height: 130px;
  line-height: normal;
  overflow: scroll;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  padding: 0.5em 1em;
  color: #232323;
  background: #fcf8ef;
  border-left: solid 10px #fad3a1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.show-line-author {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  font-size: 16px;
}

.user-name{
  text-decoration: none;
  color: peachpuff;
}

.user-name:hover{
  color: rgb(250, 135, 34);
}

.user-taste {
  margin: 0 0 0 15px;
}

/* ここからコメント関連 */

.show-sub {
  text-align: center;
}

.comment-container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.comment-in {
  width: 500px;
  margin: 15px auto 0;
}

@media (max-width: 500px) {
  .comment-in {
    width: 100%;
  }
}

.comment-form {
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  margin: 20px auto 0;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.comment-submit {
  width: 100%;
  margin: 10px auto 20px;
  background-color: peachpuff;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

.comment-submit:hover {
  background-color: rgb(250, 203, 162);
}

.comments {
  padding: 25px 0 0;
}

.comments-texts {
  text-align: left;
  margin: 30px 10px 0;
}

.comment-text {
  margin-bottom: 10px;
}

.comment-comment{
  overflow-wrap: break-word;
}

.comment-nickname {
  text-decoration: none;
  color: peachpuff;
}

.comment-nickname:hover {
  color: rgb(250, 135, 34);
}

.comment-lower {
  display: flex;
}

.comment-time {
  font-size: 4px;
}

.fa-trash-alt {
  color: rgb(184, 184, 184);
  size: 6px;
  margin-left: 8px;
}