<div class="container px-4 py-5 topimage-box" id="custom-cards">
  <%= image_tag 'tankozotop.png', size: '500x500', class: "top-image" %>
  <h2 class="pb-2 border-bottom"></h2>
</div>

<main class="main">
  <div class="inner">
    <div class="wrapper">
      <% @restaurants.each do |restaurant| %>
        <div class="restaurants-index">
          <%= link_to image_tag(restaurant.image , size: '320x270'), restaurant_path(restaurant), class: "img" %>
            <div class="info">
              <div class="index-prefecture">
                <%= restaurant.prefecture.name %>
              </div>
              <div class="index-time">
                <%= l restaurant.created_at %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <p class="m-5 pb-4 text-center text-muted">&copy; Tankozo</p>
</main>
