<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">No tasty meals No life!!</h2>
</div>

<main class="main">
  <div class="inner">
    <div class="wrapper">
      <% @restaurants.each do |restaurant| %>
        <div class="restaurants-index">
          <%= image_tag restaurant.image.variant(resize: '300x250!', gravity: "center"), class: "img" %>
            <div class="info">
              <div class="index-prefecture">
                <%= restaurant.prefecture.name %>
              </div>
              <div class="index-time">
                <%= l restaurant.created_at %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
