<div class="intro-first">
    <p class="intro-name">Tankozo</p>
    <p class="intro-text bgcl">それぞれのフード部門で自分にとってNo.1のお店のみ投稿してね！<br>Let's share 大好き！<br><br>例）一番美味しいと思う親子丼のお店が「招福亭」の場合、「招福亭」のみ投稿</p>
</div>

<div class="intro-likes">
    <p class="intro-likes-title">Like & Hope</p>
    <p class="intro-text">よかった
      <i class="far fa-heart faa-ring animated-hover like-btn"></i><br class="br-sp">
      実際にお店に行ってみて良かったら押してね！
    </p>
    <p class="intro-text">行きたい
      <i class="fas fa-running faa-horizontal animated-hover hope-btn"></i><br class="br-sp">
      いつかお店に行ってみたいと思ったら押してね！
    </p>
</div>

<div class="intro-second">
    <p class="intro-tongue">いっぱいよかったをもらってボクの舌を伸ばしてね！</p>
    <div class="tongue-img">
      <%= image_tag 'tankozo1.png', size: '300x300', class: "tankozo-intro-img" %>
      <%= image_tag 'tankozo2.png', size: '300x300', class: "tankozo-intro-img" %>
      <%= image_tag 'tankozo3.png', size: '300x300', class: "tankozo-intro-img" %>
    </div>
</div>

<h2 class="pb-2 border-top"></h2>
<p class="m-4 pb-4 text-center text-muted">&copy; Tankozo</p>