.info-group {
  display: flex;
}

@media (max-width: 1024px) {
  .info-group {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 80%;
  }
}

.no-list{
  font-size: 20px;
  color: gray;
  text-align: center;
  margin: auto;
}

.show-nickname {
  text-align: center;
}

.show-taste {
  margin-top: 20px;
  text-align: center;
}

/*タブのスタイル*/
.tabs {
  margin-top: 20px;
  margin-left: 5%;
  padding-bottom: 40px;
  background-color: #ffe5b6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60%;
}

@media (max-width: 768px) {
  .tabs {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .tab_item {
    line-height: 20px;
    font-size: 60%;
  }
  .titlename {
    font-size: 60%;
  }
}

.tab_item {
  width: calc(100%/3);
  height: 40px;
  background-color: #f8F9FA;
  line-height: 43px;
  /* font-size: 16px; */
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
}

.album-shadow {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.tab_item:hover {
  opacity: 0.75;
}

.hidden-tab_item {
  background-color: #d3cece;
  color: #565656;
}

.titlename {
  text-decoration: none;
  color: #565656;
}

.titlename:hover {
  text-decoration: none;
  color: #ffbb00;
}
/*タブのスタイル//*/

.user-show {
  text-decoration: none;
}

.hopelike-list {
  margin-left: 10px;
}